body, html {
  padding: 0;
  margin: 0;
}

.ml1 {
  margin-left: 5px;
}

.title {
  margin-left: -40px;
}
.round {
  border-radius: 5px;
}

.bg-off-white {
  background-color: #ddd;
}

.mv2 {
  margin: 5px 0;
}

.row {
  display: flex;
  align-items: center;
}

.pa2 {
  padding: 5px;
}

.no-bullet {
  list-style-type: none;
}

.tc {
  text-align: center;
}

.pointer:hover {
  cursor: pointer;
}

main {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 500px;
}